#large{
	float:left;
	border:1px;
	width:100%; 
	height:auto;
}
	
#left{
	float:left;
	border:0px;
	height:auto;
	width:20%; 
}
	
	
	
#right{
	float:right;
	border:0px;
	width:79%;
	height:auto;
	text-align: center;
}
	
body{
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
}
	
li{
	list-style-type:none;
}
	
a{
	color:brown;
	text-decoration:none;
}
	
span{
	font-size:30px;
}