<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.dao.DepartmentDao">
	<insert id="addDepartment" parameterType="Department">
		insert into
			department(dept_name,dept_create_time)
		values
			(#{deptName},#{deptCreateTime})
	</insert>
	
	<delete id="deleteDepartment" parameterType="int">
		delete from
			department
		where 
			dept_id=#{deptId}
	</delete>
	
	<update id="updateDepartment" parameterType="Department">
		update
			department
		set 
			dept_name=#{deptName},
			dept_create_time=#{deptCreateTime}
		where 
			dept_id=#{deptId}
	</update>
	
	<select id="queryAllDepartments" resultMap="DeptResultMap">
		select
			*
		from
			department
	</select>
	
	<select id="queryDepartmentByDeptId" parameterType="int" resultMap="DeptResultMap">
		select
			*
		from
			department
		where
			dept_id=#{deptId}
	</select>
	
	<resultMap type="Department" id="DeptResultMap">
		<id property="deptId" column="dept_id"/>
		<result property="deptName" column="dept_name"/>
		<result property="deptCreateTime" column="dept_create_time"/>
	</resultMap>
</mapper>














